* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #ffffff;
}
.stepP {
  display: none !important;
}
.checkoutProgress {
  width: 100%;
  display: flex;
}
.step {
  flex: 1;
  text-align: center;
  border-bottom: 4px solid #ccc;
  padding: 20px 0 20px 0;
}
.step .stepNumber {
  color: #ccc;
  margin-bottom: 5px;
}
.step .stepName {
  color: #ccc;
}
.step .stepStatus {
  color: #ffffff;
}
.completedStep {
  border-bottom: 4px solid #6eec68;
}
.completedStep .stepName {
  color: black;
}
.completedStep .stepStatus {
  margin-top: 10px;
  color: #6eec68;
  font-size: 30px;
}
.StepOneContainer {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.userInfoFields {
  margin-top: 30px;
  flex: 1;
  border-right: 1px solid #ccc;
}
.orderInfo {
  flex: 1;
  margin-top: 30px;
  margin-left: 20px;
}
.fieldContainer {
  width: 100%;
  flex: 1;
  margin-top: 20px;
  padding-right: 30px;
  box-sizing: border-box;
}
.fieldContainer h4 {
  flex: 1;
  width: 100%;
  color: #ccc;
  margin-bottom: 5px;
}
.fieldContainer input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
}
.orderItem {
  margin-top: 30px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.123);
}
.orderItem img {
  height: 60px;
  border-radius: 10px;
}
.proDetails {
  margin-left: 20px;
}
.proDetails h3 {
  margin-bottom: 8px;
}
.submitAddressBtn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #6eec68;
  color: #ffffff;
  border-radius: 5px;
}
.submitAddressBtn:hover {
  background-color: #4e944b;
  cursor: pointer;
}

.active {
  display: flex !important;
}
.stepTwoContainer {
  width: 700px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: rgb(226, 226, 226);
  padding: 10px 0;
}
.stepTwoContainer .fieldContainer {
  padding: 0 30px;
}
.stepTwoContainer .fieldContainer h4 {
  color: #ffffff;
}
.stepTwoContainer .fieldContainer input {
  border: none;
  outline: none;
}
.stepTwoContainer button {
  margin: 20px 30px 10px;
  width: calc(100% - 60px);
  padding: 10px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #6eec68;
}
.activeBlock {
  display: block !important;
}
.stepTwoContainer button:hover {
  background-color: #4e944b;
  cursor: pointer;
}
.stepThreeContainer {
  width: 100%;
  background-color: rgb(219, 219, 219);
  text-align: center;
  padding: 80px 0;
}
.stepThreeContainer h1 {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 50px;
}
.stepThreeContainer h3 {
  color: #ffffff;
}
